# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Excel temporary files
~$*.xlsx
~$*.xls

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
